.grid-container {
    display: grid;
    min-height: 100vh;
    grid-template-rows: 1 auto 1;
    padding: 40px;
    text-align: center;
}
.header {
     
    background-color: rgb(224, 160, 160);
    border: black solid;
    font-size: 40px;
    height: 160px;
    padding: 10px;
    text-align: center;
   
    
}
.main {
    background-color: rgb(236, 185, 140);
    border: 2px solid black;
    font-size: 20px;
}
.footer {
    background-color: rgb(108, 130, 196);
    font-size: 18px;
    
}



