.header {
    position: fixed;
    background-color: rgba(red, green, blue, 0.3);


}

.main {
    display: flex;

}

.footer-grid {

}

.footer {
    position: sticky;
    bottom: 0;

    background-color: rgba(23, 34, 255, 0.5);
    text-align: center; 
  

}
